node_modules/
**/node_modules/
*.log
.env
dist/
build/
*.local
.vscode/
.idea/
.DS_Store
*.pem
*.key
target/
*.class
users.json
Frontend/Public/*.map
FrontendVue/dist
Backend/node_modules
